.DiffRangeComponent {
    --template-areas: "frame0 . . timecode0" ". range range thumb" "frame1 . . timecode1";
    --matchType-added: #008b8b22;
    --matchType-removed: #ff000022;
    --matchType-match: #00008b22;
    --matchType-changed: #00640022;
    --matchType-moved: #ffa50022;
    --matchType-moved_from: #ff00ff22;
    --matchType-moved_to: #3cb37122;
    border-bottom: 1px solid #778899;
    /*padding: 5px;*/
    display: flex;
}

.DiffRangeComponent__placeholder {
    flex: 1;
    background: #77889922;
}

.DiffRangeComponent-added .DiffRangeComponent__range-1 {
    background: var(--matchType-added);
}

.DiffRangeComponent-removed .DiffRangeComponent__range-0 {
    background: var(--matchType-removed);
}

.DiffRangeComponent-changed {
    background: var(--matchType-changed);
}

.DiffRangeComponent-moved_from .DiffRangeComponent__range-0 {
    background: var(--matchType-removed);
}

.DiffRangeComponent-moved_from .DiffRangeComponent__range-1 {
    background: var(--matchType-added);
}

.layout-split .DiffRangeComponent__range-0 {
    --template-areas: "frame0 . . timecode0" ". range range thumb" "frame1 . . timecode1" "thumbs thumbs thumbs thumbs";
    /*border-right: 2px solid;*/
}

.layout-split .DiffRangeComponent__range-1 {
    --template-areas: "timecode0 . . frame0" "thumb range range ." "timecode1 . . frame1" "thumbs thumbs thumbs thumbs";
}

.DiffRangeComponent__range-0, .DiffRangeComponent__range-1 {
    flex: 1;
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-areas: var(--template-areas);
}

.DiffRangeComponent__range-1 .DiffRangeComponent__frame-start, .DiffRangeComponent__range-1 .DiffRangeComponent__frame-end {
    text-align: right;
}

.DiffRangeComponent__frame-start {
    grid-area: frame0;
}

.DiffRangeComponent__frame-end {
    grid-area: frame1;
}

.DiffRangeComponent__frame-start, .DiffRangeComponent__frame-end {
    color: darkgray;
    width: 7ch;
}

.DiffRangeComponent__thumb {
    grid-area: thumb;
}

.DiffRangeComponent__match-type {

}

.DiffRangeComponent__description {
    grid-area: range;
}

.DiffRangeComponent__timecode-start, .DiffRangeComponent__timecode-end {
    text-align: center;
}

.DiffRangeComponent__timecode-start {
    grid-area: timecode0;
}

.DiffRangeComponent__timecode-end {
    grid-area: timecode1;
}

.DiffRangeComponent__thumbs {
    grid-area: thumbs;
}