.range {
    list-style: none;
    margin: 0;
}

.matchType__description {
    font-size: 1.4rem;
}

.matchType-added {
    background: darkcyan;
}

.matchType-removed {
    background: red;
}

.matchType-match {
    background: darkblue;
}

.matchType-changed {
    background: darkgreen;
}

.matchType-moved {
    background: orange;
}

.matchType-moved_from {
    background: fuchsia;
}

.matchType-moved_to {
    background: mediumseagreen;
}

.DiffRangeBoard {
    --board-maxheight: 75vh;
    width: 100%;
    max-height: var(--board-maxheight);
    overflow: auto;
    position: relative;
}

.DiffRangeBoard__canvas {
    width: 100%;
}

.DiffRangeBoard__boards {
    position: relative;
}

.DiffTimeline {
    --timeline-zoom: 1;
    width: 100%;
}

.DiffTimeline__ranges {
    width: calc(100% * var(--timeline-zoom));
    position: relative;
}

.DiffTimeline__pointer {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    top: 0;
    background: red;
}

.DiffTimeline__zoom input[type=range] {
    width: 100%;
}