html {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.2rem;
}

* {
    box-sizing: border-box;
}

.DiffReport {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    border-bottom: 1px solid lightslategrey;
}

.DiffReport__header {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.DiffReport__ranges {
    flex: 1;
    overflow: auto;
}
