:root {
    --matchType-added: darkcyan;
    --matchType-removed: red;
    --matchType-match: darkblue;
    --matchType-changed: darkgreen;
    --matchType-moved: orange;
    --matchType-moved_from: fuchsia;
    --matchType-moved_to: mediumseagreen;
}

html {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.2rem;
}

* {
    box-sizing: border-box;
}

.container {
    overflow: auto;
}

.container.overflow-x {
    overflow-x: scroll;
}

.container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.container::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.button {
    background: darkblue;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    -webkit-appearance: none;
}

.center {
    text-align: center;
}

.DiffReport {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    border-bottom: 1px solid lightslategrey;
}

.DiffReport__header {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    /*position: fixed;*/
    /*z-index: 999;*/
    width: 100%;
    background: whitesmoke;
}

.DiffReport__ranges {
    flex: 1;
    overflow: auto;
    position: relative;
}

